{% extends 'layouts/base.html' %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5">

                        <form action="." method="POST">{% csrf_token %}
                            <div class="row mb-3 text-center">
                                <h5>{{ title }}</h5>
                            </div>
                            {% for f in form %}
                            <div class="row mb-3">
                                <div class="col-sm">
                                    {{ f }}
                                </div>
                            </div>
                            {% endfor %}
                            {% if next %}
                            <input type="hidden" name="next" value="{{ next }}">
                            {% endif %}
                            <div class="d-grid gap-2 col-3 mx-auto">
                                <button type="submit" class="btn btn-primary">{{ title }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}