{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col">
            <h3>Data schemas</h3>
        </div>
        <div class="col text-end">
            <a href="{% url 'schema:schema-create' %}" class="btn btn-success">Create schema</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="text-left">#</th>
                    <th scope="col" class="text-left">Title</th>
                    <th scope="col" class="text-left">Modified</th>
                    <th scope="col" class="text-left">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for schema in schemas %}
                <tr>
                    <td scope="col" class="text-left">{{ schema.id }}</td>
                    <td scope="col" class="text-left">
                        <a href="#" class="link-primary text-decoration-none">{{ schema.name }}</a>
                    </td>
                    <td scope="col" class="text-left">{{ schema.timestamp }}</td>
                    <td scope="col" class="text-left">
                        <a href="#" class="link-primary text-decoration-none">Edit scheme</a>
                        <a href="#" class="link-danger text-decoration-none">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}